<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.text_field :username, :placeholder=>"User name" %></p>
  <p><%= f.text_field :home_url, :placeholder=>"Home url" %></p>
  <p><%= f.email_field :email, :placeholder=>"Email" %></p>
  <p><%= f.password_field :password, :placeholder=>"Password" %></p>
  <p><%= f.password_field :password_confirmation, :placeholder=>"Password confirmation" %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>

<%= render :partial => "sessions/social_networks" %>