<%=link_to "Sign Out", sign_out_path%> &nbsp; <%=link_to "Settings", edit_profile_path%>
<h2>Home page</h2>
<p>Welcome <%=current_user.username%> at <%=Time.now.to_s(:db)%></p>
<p>Look my url at <%=link_to current_user.home_url %></p>