<%= form_for(@seed) do |f| %>
  <% if @seed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seed.errors.count, "error") %> prohibited this seed from being saved:</h2>
      <ul>
      <% @seed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.text_area :body, :placeholder=>"Body content", :rows=>4, :cols=>80 %>
  </div>
  <div class="field">
    <%= f.text_field :tag, :placeholder=>"Tag" %>
    <%= f.text_field :note, :placeholder=>"Note..."  %>
  </div>
  <div class="field">
    <%= f.datetime_select :happen_at %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
