<div id="new_seed">
	<%=render :partial=>"simple_form"%>
</div>
<table>
<% @seeds.each do |seed| %>
  <tr>    
    <td >[<span style="color:<%=seed.status_color%>;"><%= seed.status %></span>]<%= seed.body %></td>  
  </tr>
  <tr>
  	<td>
  		<%= seed.happen_at_disp %>
		<span style="color:blue;"><b><%= seed.tag %></b></span> 
		<%= seed.note %>
	    <%= link_to 'Up', seed_up_path(seed.id) %> | 
		<%= link_to 'Down', seed_down_path(seed.id) %> | 
	    <%= link_to 'Edit', edit_seed_path(seed) %> | 
	    <%= link_to 'Destroy', seed, :confirm => "Are you sure to delete(#{seed.body})?", :method => :delete %>
	</td>
  </tr>
<% end %>
</table>
