<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>User Central</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id='navigation'>
	<%=link_to "Index", "/"%> |
	<%=link_to "Clients", "/client_apps/index"%> |
	<%=link_to "RailsAdmin", rails_admin_dashboard_path %> |
	
	<span>
		<%if current_user%>		   
		  <%=link_to current_user.username, edit_profile_path, :title=>"Edit profile"%> |
		  <%=link_to "Sign out", sign_out_path%>  |
		<%else%>
		  <%=link_to "Sign in", sign_in_path%>  |
		  <%=link_to "Sign up", sign_up_path%>  |
		<%end%>		
	</span>
</div>
<hr/>

<div>
	<p style="color:red;"><%=flash[:error]%></p>
	<p style="color:red;"><%=flash[:alert]%></p>
	<p style="color:green;"><%=flash[:notice]%></p>
</div>

<%= yield %>

<hr/>
<div id="links">
	Ref: <%=link_to "Source", "https://github.com/cao7113/user-central", :target=>"_blank" %> |
	     <%=link_to "Devise", "https://github.com/plataformatec/devise", :target=>"_blank" %> |
		 <%=link_to "Omniauth", "https://github.com/intridea/omniauth", :target=>"_blank" %> |
		 <%=link_to "SsoProvider", "https://github.com/joshsoftware/sso-devise-omniauth-provider", :target=>"_blank" %> |
		 <%=link_to "SsoClient", "https://github.com/joshsoftware/sso-devise-omniauth-client", :target=>"_blank" %> |
		 
</div>	
</body>
</html>
